In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./archive/athlete_events.csv')
region_df = pd.read_csv('./archive/noc_regions.csv')

In [3]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [4]:
df.shape

(271116, 15)

In [5]:
df = df[df['Season']=='Summer']

In [6]:
df.shape

(222552, 15)

In [7]:
region_df.tail()

     NOC    region        notes
225  YEM     Yemen          NaN
226  YMD     Yemen  South Yemen
227  YUG    Serbia   Yugoslavia
228  ZAM    Zambia          NaN
229  ZIM  Zimbabwe          NaN

In [8]:
df = df.merge(region_df,on='NOC',how='left')

In [9]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN

In [10]:
df['region'].unique().shape

(206,)

In [11]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9189
Height     51857
Weight     53854
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     188464
region       370
notes     218151
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(1385)

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
df['Medal'].value_counts()

Medal
Gold      11456
Bronze    11409
Silver    11212
Name: count, dtype: int64

In [16]:
df = pd.concat([df,pd.get_dummies(df['Medal']).astype(int)],axis=1)

In [17]:
df.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

     NOC  Gold  Silver  Bronze
0    USA  2472    1333    1197
1    URS   832     635     596
2    GBR   635     729     620
3    GER   592     538     649
4    ITA   518     474     454
..   ...   ...     ...     ...
225  WIF     0       0       5
226  YEM     0       0       0
227  YAR     0       0       0
228  YMD     0       0       0
229  ZAM     0       1       1

[230 rows x 4 columns]

In [18]:
medal_tally = df.drop_duplicates(subset=['Team','NOC', 'Games','Year','City','Sport','Event','Medal'])

In [19]:
medal_tally = medal_tally.groupby('region').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

In [20]:
medal_tally['total'] = medal_tally['Gold']+medal_tally['Bronze']+medal_tally['Silver']

In [21]:
medal_tally = medal_tally.sort_values('total',ascending=False).reset_index()

In [22]:
medal_tally

     index                   region  Gold  Silver  Bronze  total
0        0                      USA  1035     802     708   2545
1        1                   Russia   592     498     487   1577
2        2                  Germany   444     457     491   1392
3        3                       UK   278     317     300    895
4        4                   France   234     256     287    777
..     ...                      ...   ...     ...     ...    ...
200    193                Swaziland     0       0       0      0
201    200                  Vanuatu     0       0       0      0
202    199             Turkmenistan     0       0       0      0
203    201  Virgin Islands, British     0       0       0      0
204    203                    Yemen     0       0       0      0

[205 rows x 6 columns]

In [23]:
years = df['Year'].unique().tolist()

In [24]:
years.sort()

In [25]:
years.insert(0,'overall')

In [26]:
years

['overall',
 1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

In [27]:
country = np.unique(df['region'].dropna().values).tolist()

In [28]:
country.sort()

In [29]:
country.insert(0,'overall')

In [30]:
country

['overall',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [31]:
medal_df = df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])

In [32]:
def fetch_medal_tally(df, year, country):
    # Drop duplicate rows based on specific columns to avoid counting the same medal more than once
    medal_df = df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'])

    # Determine the subset of data based on the 'year' and 'country' inputs
    if year == 'Overall' and country == 'Overall':
        temp_df = medal_df
        x = temp_df.groupby('region').sum()[['Gold', 'Silver', 'Bronze']].reset_index()
        x = x.sort_values(by=['Gold', 'Silver', 'Bronze'], ascending=False).reset_index(drop=True)
    elif year == 'Overall' and country != 'Overall':
        temp_df = medal_df[medal_df['region'] == country]
        x = temp_df.groupby('Year').sum()[['Gold', 'Silver', 'Bronze']].reset_index()
        x = x.sort_values(by='Year', ascending=False).reset_index(drop=True)
    elif year != 'Overall' and country == 'Overall':
        temp_df = medal_df[medal_df['Year'] == int(year)]
        x = temp_df.groupby('region').sum()[['Gold', 'Silver', 'Bronze']].reset_index()
        x = x.sort_values(by=['Gold', 'Silver', 'Bronze'], ascending=False).reset_index(drop=True)
    else:
        temp_df = medal_df[(medal_df['Year'] == int(year)) & (medal_df['region'] == country)]
        x = temp_df.groupby('region').sum()[['Gold', 'Silver', 'Bronze']].reset_index()

    # Add a 'total' column for the sum of all medals
    x['total'] = x['Gold'] + x['Silver'] + x['Bronze']

    return x

In [33]:
fetch_medal_tally(df,year='Overall',country='India')

    Year  Gold  Silver  Bronze  total
0   2016     0       1       1      2
1   2012     0       2       4      6
2   2008     1       0       2      3
3   2004     0       1       0      1
4   2000     0       0       1      1
5   1996     0       0       1      1
6   1992     0       0       0      0
7   1988     0       0       0      0
8   1984     0       0       0      0
9   1980     1       0       0      1
10  1976     0       0       0      0
11  1972     0       0       1      1
12  1968     0       0       1      1
13  1964     1       0       0      1
14  1960     0       1       0      1
15  1956     1       0       0      1
16  1952     1       0       1      2
17  1948     1       0       0      1
18  1936     1       0       0      1
19  1932     1       0       0      1
20  1928     1       0       0      1
21  1924     0       0       0      0
22  1920     0       0       0      0
23  1900     0       2       0      2

In [34]:
nations_over_time = df.drop_duplicates(['Year','region'])['Year'].value_counts().reset_index().sort_values('Year')

In [35]:
nations_over_time = nations_over_time.rename(columns={'count':'No of Countries'})

In [36]:
import plotly.express as px

In [37]:
fig = px.line(nations_over_time, x="Year", y="No of Countries")
fig.show()

In [56]:
def most_successful(df, sport):
    temp_df = df.dropna(subset=['Medal'])

    if sport != 'Overall':
        temp_df = temp_df[temp_df['Sport'] == sport]

    x = temp_df['Name'].value_counts().reset_index().head(15).merge(df, left_on='Name', right_on='Name', how='left')[
        ['Name', 'count', 'Sport', 'region']].drop_duplicates('Name')
    x.rename(columns={ 'count': 'Medals'}, inplace=True)
    return x

In [57]:
most_successful(df,'Overall')

,Name,Medals,Sport,region
0,"Michael Fred Phelps, II",28,Swimming,USA
30,Larysa Semenivna Latynina (Diriy-),18,Gymnastics,Russia
49,Nikolay Yefimovich Andrianov,15,Gymnastics,Russia
73,Borys Anfiyanovych Shakhlin,13,Gymnastics,Russia
97,Takashi Ono,13,Gymnastics,Japan
130,Edoardo Mangiarotti,13,Fencing,Italy
144,"Dara Grace Torres (-Hoffman, -Minas)",12,Swimming,USA
157,Birgit Fischer-Schmidt,12,Canoeing,Germany
170,"Jennifer Elisabeth ""Jenny"" Thompson (-Cumpelik)",12,Swimming,USA
187,Ryan Steven Lochte,12,Swimming,USA
201,Paavo Johannes Nurmi,12,Athletics,Finland
213,Aleksey Yuryevich Nemov,12,Gymnastics,Russia
234,Sawao Kato,12,Gymnastics,Japan
258,Natalie Anne Coughlin (-Hall),12,Swimming,USA
270,Vra slavsk (-Odloilov),11,Gymnastics,Czech Republic

In [59]:
temp_df = df.dropna(subset=['Medal'])
temp_df.drop_duplicates(subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal'], inplace=True)

C:\Users\arpan\AppData\Local\Temp\ipykernel_91852\4076372601.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [63]:
country = 'India'
new_df = temp_df[temp_df['region'] == country]
final_df = new_df.groupby('Year').count()['Medal'].reset_index()

In [64]:
final_df

    Year  Medal
0   1900      2
1   1928      1
2   1932      1
3   1936      1
4   1948      1
5   1952      2
6   1956      1
7   1960      1
8   1964      1
9   1968      1
10  1972      1
11  1980      1
12  1996      1
13  2000      1
14  2004      1
15  2008      3
16  2012      6
17  2016      2

In [67]:
def most_successful_countrywise(df, country):
    temp_df = df.dropna(subset=['Medal'])

    temp_df = temp_df[temp_df['region'] == country]

    x = temp_df['Name'].value_counts().reset_index().head(10).merge(df, left_on='Name', right_on='Name', how='left')[
        ['Name', 'count', 'Sport']].drop_duplicates('Name')
    x.rename(columns={ 'count': 'Medals'}, inplace=True)
    return x

In [66]:
country = 'China'
temp_df = df.dropna(subset=['Medal'])
temp_df = temp_df[temp_df['region'] == country]
x = temp_df['Name'].value_counts().reset_index().head(10).merge(df, left_on='Name', right_on='Name', how='left')[
        ['Name', 'count', 'Sport']].drop_duplicates('Name')
x.rename(columns={ 'count': 'Medals'}, inplace=True)
x

              Name  Medals         Sport
0        Wu Minxia       7        Diving
7         Yang Wei       7     Badminton
33         Zou Kai       6    Gymnastics
41       Wang Yifu       6      Shooting
51   Li Xiaoshuang       6    Gymnastics
67         Li Ning       6    Gymnastics
83        Sun Yang       6      Swimming
93        Wang Hao       6  Table Tennis
104   Guo Jingjing       6        Diving
111    Chen Ruolin       5        Diving

In [68]:
sport = "Overall"
athlete_df = df.drop_duplicates(subset=['Name', 'region'])
athlete_df['Medal'].fillna('No Medal', inplace=True)
if sport != 'Overall':
    temp_df = athlete_df[athlete_df['Sport'] == sport]
    print(temp_df)
else:
    print(athlete_df)

            ID                                Name Sex   Age  Height  Weight  \
0            1                           A Dijiang   M  24.0   180.0    80.0
1            2                            A Lamusi   M  23.0   170.0    60.0
2            3                 Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4                Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            8  Cornelia "Cor" Aalten (-Strannood)   F  18.0   168.0     NaN
...        ...                                 ...  ..   ...     ...     ...
222544  135563           Olesya Nikolayevna Zykina   F  19.0   171.0    64.0
222546  135565            Fernando scar Zylberberg   M  23.0   168.0    76.0
222548  135566          James Francis "Jim" Zylker   M  21.0   175.0    75.0
222549  135567        Aleksandr Viktorovich Zyuzin   M  24.0   183.0    72.0
222551  135568              Olga Igorevna Zyuzkova   F  33.0   171.0    69.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1932 Summer  1932  Summer     Los Angeles
...                ...  ...          ...   ...     ...             ...
222544          Russia  RUS  2000 Summer  2000  Summer          Sydney
222546       Argentina  ARG  2000 Summer  2000  Summer          Sydney
222548   United States  USA  1972 Summer  1972  Summer          Munich
222549          Russia  RUS  2000 Summer  2000  Summer          Sydney
222551         Belarus  BLR  2016 Summer  2016  Summer  Rio de Janeiro

             Sport                                   Event     Medal  \
0       Basketball             Basketball Men's Basketball  No Medal
1             Judo            Judo Men's Extra-Lightweight  No Medal
2         Football                 Football Men's Football  No Medal
3       Tug-Of-War             Tug-Of-War Men's Tug-Of-War      Gold
4        Athletics            Athletics Women's 100 metres  No Medal
...            ...                                     ...       ...
222544   Athletics  Athletics Women's 4 x 400 metres Relay    Bronze
222546      Hockey                     Hockey Men's Hockey  No Medal
222548    Football                 Football Men's Football  No Medal
222549      Rowing  Rowing Men's Lightweight Coxless Fours  No Medal
222551  Basketball           Basketball Women's Basketball  No Medal

             region notes  Bronze  Gold  Silver
0             China   NaN       0     0       0
1             China   NaN       0     0       0
2           Denmark   NaN       0     0       0
3           Denmark   NaN       0     1       0
4       Netherlands   NaN       0     0       0
...             ...   ...     ...   ...     ...
222544       Russia   NaN       1     0       0
222546    Argentina   NaN       0     0       0
222548          USA   NaN       0     0       0
222549       Russia   NaN       0     0       0
222551      Belarus   NaN       0     0       0

[116885 rows x 20 columns]

C:\Users\arpan\AppData\Local\Temp\ipykernel_91852\3949435887.py:3: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.



C:\Users\arpan\AppData\Local\Temp\ipykernel_91852\3949435887.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy